.centered-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.centered-dialog-content mat-spinner {
  margin-top: 20px; /* Adjust this value as needed */
}
