<div class="file-upload">
  <mat-card>
    <mat-card-header>
      <p>Image upload</p>
    </mat-card-header>
    <mat-card-content>
      <input type="file" accept="image/jpeg" class="file-input" id="actual-btn" (change)="uploadImage($event)">
        <label class="btn btn-primary" for="actual-btn">Choose File</label>
      <mat-list *ngFor="let fileName of fileArray; let i = index" [attr.data-index]="i">
        <mat-list-item>
          <mat-icon matListItemIcon>image</mat-icon>
          <div matListItemTitle>Image {{ i+1 }}</div>
          <div matListItemLine>{{ fileName }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-footer>
      <p>Note: You are required to add <strong>at least one image</strong> in <strong>jpg</strong> format</p>
    </mat-card-footer>
  </mat-card>
</div>
